* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to left bottom, #50ee1c, #dec000, #ff7d0e, #ff3181, #f349db);
    background-repeat: no-repeat;
    /* width: 100vh; */
}

main{
    width: 100vh;
}

h1{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #33ef37;
    letter-spacing: 9px;
    text-shadow: 4px 3px 3px white;
    font-size: 50px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
} @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: 0.3em;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: 0.3em;
      opacity: 1;
    }
  }

h2{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    letter-spacing: 4px;
    font-size: 25px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    text-transform: uppercase;
    display: inline-block;
}

h3{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-shadow: #ff7d0e;
    font-size: 25px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    text-transform: uppercase;
    display: inline-block;
    position: relative;

} .span2{
    color: white;
    text-shadow: 3px 3px 3px #f349db;
    letter-spacing: 4px;
}

h3::after{
    content: "";
    position: absolute;

    background-color: #f349db;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;

    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

h3:is(:hover, :focus)::after{
    opacity: 1;
    transform: translateY(8px);
}

span{
    color: #33ef37;
    text-shadow: 3px 3px 3px white;
}

/* #formulario_principal{
    display: flex;
    align-items: center;
} */

.form-label{
    margin-left: 20px;
    margin-right: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 3px 3px 3px grey;
    font-size: 20px;
}

.form-control{
    margin-left: 20px;
    margin-right: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #33ef37;
}

#btnCalcular{
    margin-top: 20px;
    margin-left: 20px;
    background-color: #50ee1c;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    border: none;
    position: relative;
    border-radius: 8px;
} #btnCalcular::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: white;
    background-size: 800%;
    border-radius: 10px;
    filter: blur(10px);
    animation: glowing 20s linear infinite;

    @keyframes glowing {
        0%{
            background-position: 0 0;
        }
        50%{
            background-position: 400% 0;
        }
        100%{
            background-position: 0 0;
        }
    }
}

#boton_reset{
    margin-top: 20px;
    margin-left: 20px;
    background-color: #33ef37;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    border: none;
    position: relative;
    border-radius: 8px;
} #boton_reset::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: white;
    background-size: 800%;
    border-radius: 10px;
    filter: blur(10px);
    animation: glowing 20s linear infinite;

    @keyframes glowing {
        0%{
            background-position: 0 0;
        }
        50%{
            background-position: 400% 0;
        }
        100%{
            background-position: 0 0;
        }
    }
}

/* #btnRecuperarUltimo{
    margin-top: 20px;
    margin-left: 20px;
    background-color: #33ef37;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    border: none;
} */

.title_2{
    color: white;
    text-shadow: 3px 3px 3px grey;
}

#resultadosCuotasContenedor{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 25px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
}

#exampleModal{
    opacity: 0.9;
}

#ResultadosFinales1{
    color: #FF2FEF;
    text-decoration: underline solid 2px;
    text-transform: uppercase;
}

#ResultadosFinales6{
    margin-top: 20px;
    color: #FF2FEF;
    text-decoration: underline solid 2px;
    text-transform: uppercase;
}

.btn-secondary{
    margin-top: 20px;
    margin-left: 20px;
    background-color: #33ef37;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    border: none;
}

.modal-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #33ef37;
    text-shadow: 3px 3px 3px grey;
}

.modal-body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1124f2;
    font-style: oblique;
}

img{
    margin: 20px;
    border-radius: 20px;
    height: 70vh;
}

footer{
    margin: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
}

.subir {
    height: 25px;
    width: 20px;
    color: white !important;
    position: fixed;
    bottom: 60px;
    right: 30px;
    text-align: center;
    font-size: 30px;
    text-shadow: 7px 5px 5px #FF2FEF;
}